<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Détail avatar</title>
	</head>
	<body>
		<h2>Détail d'un avatar</h2>
		<table>
			<thead>
				<tr>
					<th>Champ</th>
					<th>Valeur</th>
				</tr>		
			</thead>
			<tbody>
				
				{% for f in vals|dictsort:"name" %}
				<tr>
					<td>{{f.name}}</td>
					<td>{{f.value}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>